<app-loading></app-loading>

<app-crud (salvar)="salvar()" (pesquisar)="pesquisar()">
  <div cadastro>

    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="profissao.nome" placeholder="Profissão" formControlName="nome" required matInput>
        <button mat-button *ngIf="profissao.nome" matSuffix mat-icon-button aria-label="Clear" (click)="profissao.nome=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error>
          Obrigatório!
        </mat-error>
      </mat-form-field>
    </form>

  </div>

  <div parametros>pesquisa</div>

  <div lista>
    <div class="table-container">

      <app-profissoes-lista (alterar)="alterar($event)"></app-profissoes-lista>

    </div>
  </div>

</app-crud>
